body{
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: Arial, verdana, sans-serif;
}
h1{
    background-color:rgb(183, 0, 255);
    color: black;
    line-height: 200%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 1em;
}
h2{
    background-color:rgb(183, 0, 255);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
nav{
    font-weight: bold;
    font-size: 1.25em;
    word-spacing: 1em;
}
p{
    font-size: .90em;
    text-indent: 3em;
}
ul{
    font-weight: bold;
}
.CorVermelha{
    color: rgb(255, 0, 0);
}
footer{
    color: #2942a9;
    font-size: .75em;
    font-style: italic;
}
.empresa{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 1.25em;
    color: blue;
}
#A{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}